li {
    align-items: initial;
    text-align: center;
    color: black;
    border: 1px solid black;
}

li a {
    color: black;
}

/*body {
    background: white url("images/django.png") no-repeat;
}*/

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.header-style {
    background-color: #4797ff;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.menu-style {
    background-color: #4797ff;
    height: 100hv;
}

.menu-item {
    border: 2px solid black;
}

.body-style {
    align-items: center;
    vertical-align: center;
    padding: 10px;
}

form {
    align-items: center;
    vertical-align: center;
}

.all-style {
    height: 500px;
}

