p {
    align-items: center;
    text-align: center;
    border: 5px;
    border-color: black;
}
p a {
    color: black;
    font-size: larger;
}

/*body {
    background: white url("images/django.png") no-repeat;
}*/

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}